body{
	background-color:black;
}
*{
	margin:0;
}

.div-1{
	text-align:center;
    color:white;
    border:1px solid rgb(0,0,0);
    background-color:rgb(206, 39, 39);
    width:1300px;
    position:fixed;
    z-index:10;

}

#p1{
     text-align:center;
}

.header{
	border:1px solid rgb(0,0,0);
	height:950px;
	width:1300px;
	color:white;
	background-image:url("img-2.png");
	position:relative;
	top:60px;
}

.know-more{
	border:2px solid black;
	border-radius:20px;
	padding:20px 20px;
	box-shadow:0px 1px 1px 0px white;
	z-index:10;

}


.know-more:hover{
	background-color:yellow;
}

.know-more:active{
	background-color:purple;
	z-index:5;
}

.div-2{
	box-sizing:border-box;
	color:white;
	font-size:30px;
	box-shadow:10px 10px 10px 10px ;
	border:1px solid black;
	width:1300px;
	margin-top:100px;
	padding-left:40px;
	padding-right:40px;
	padding-top:30px;
	padding-bottom:30px;
	background-image:url("img-3.jpg");
}

.section-1{
	font-size:25px;
	font-family:Times New Roman;
	color:white;
	background-image:url("avengers.jpg");
	width:1200px;
	border:1px solid white;
	box-sizing:border-box;
	margin-top:40px;
	margin-left:50px;
	margin-right:50px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:20px;
}

#img-4{
	border:1px solid rgba(0,0,0,0);
	margin-left:80px;
	box-shadow: 3px 3px 3px 3px grey;
	border-radius: 20px;
	z-index:2;
}

.footer{
	background-color:rgb(44, 135, 100);
	color:black;
	font-style:italic;
	border:1px solid black;
	box-shadow:2px 2px 0 2px white;
	margin-top:200px;
	padding-top:20px;
	padding-left:20px;
	padding-bottom:20px;
}

.section-2{
	display:grid;
	width:1200px;
	height:4000px;
	background-color:rgb(244, 228, 198);
	background-image:url("grid-image.jpg");
	margin-left:50px;
	grid-template-columns:repeat(15,1fr);
	grid-template-rows:repeat(38,1fr);
}

.gdiv-1{
	border:1px solid black;
	margin-left:50px;
	width:1200px;
	background-color:rgb(244, 228, 198);
}

.mdiv-1{
	background:	#a50000;
 grid-area:2/2/span 5/span 3;
	border-radius:20px;
}

.mdiv-2{
	background:	#a50000;
	grid-area:2/7/span 5/span 3;
	border-radius:20px;
}

.mdiv-3{
	background:	#a50000;
	grid-area:2/12/span 5/span 3;
	border-radius:20px;
}

.mdiv-4{
	background:	#a50000;
	grid-area:8/2/span 5/span 3;
	border-radius:20px;
}

.mdiv-5{
	background:	#a50000;
	grid-area:8/7/span 5/span 3;
	border-radius:20px;
}

.mdiv-6{
	background:	#a50000;
	grid-area:8/12/span 5/span 3;
	border-radius:20px;
}

.mdiv-7{
	background:	#a50000;
	grid-area:14/2/span 5/span 3;
	border-radius:20px;
}

.mdiv-8{
	background:	#a50000;
	grid-area:14/7/span 5/span 3;
	border-radius:20px;
}

.mdiv-9{
	background:	#a50000;
	grid-area:14/12/span 5/span 3;
	border-radius:20px;
}

.mdiv-10{
	background:	#a50000;
	grid-area:20/2/span 5/span 3;
	border-radius:20px;
}

.mdiv-11{
	background:	#a50000;
	grid-area:20/7/span 5/span 3;
}

.mdiv-12{
	background:	#a50000;
	grid-area:20/12/span 5/span 3;
	border-radius:20px;
}

.mdiv-13{
	background:	#a50000;
	grid-area:26/2/span 5/span 3;
	border-radius:20px;
}

.mdiv-14{
	background:	#a50000;
	grid-area:26/7/span 5/span 3;
	border-radius:20px;
}

.mdiv-15{
	background:	#a50000;
	grid-area:26/12/span 5/span 3;
	border-radius: 20px;
}

.mdiv-16{
	background:	#a50000;
	grid-area:32/2/span 5/span 3;
	border-radius:20px;
}

.mdiv-17{
	background:	#a50000;
	grid-area:32/7/span 5/span 3;
	border-radius:20px;
}

.mdiv-18{
	background:	#a50000;
	grid-area:32/12/span 5/span 3;
	border-radius:20px;
}

a{
	color:black;
	font-style:bold;
	font-size:20px;
}